body{
   background-color: var(--light-blue-100);
}
img{
   width: 1.943rem;
   height: 3rem;
   margin-top: 2.5rem;
}
section {
   display: flex;
   justify-content: space-around;
   align-items: self-start;
   margin: 0 auto;
}
.highlight{
   display: flex;
   flex-direction: column;
   margin-top: 7.5rem;
   background-color: var(--light-blue-100);
}
textarea{
   width: auto;
   height: calc(100vh - 100px);
   font-size: 32px;
   line-height: 150%;
   background-color: var(--light-blue-100);
   color: var(--dark-blue-300);
   border: none;
   resize: none;
   margin: 0 auto;
   padding: 1.5rem;
}
textarea:focus{
   outline: 0;
}

textarea::placeholder{
   color: var(--dark-blue-300);
}
span{
   display: flex;
   align-items: center;
   font-size: 12px;
   color: var(--gray-400);
   line-height: 150%;
   opacity: 0.8;
   margin-bottom: 1rem;
}
i{
   color: var(--gray-400);
   margin-right: 0.5rem;
   font-size: 1rem;
}

button{
   padding: 1.5rem;
   width: 328px;
   height: 67px;
   border-radius: 1.5rem;
   cursor: pointer;
   font-size: 1rem;
   line-height: 19px;
   border: 1px solid var(--dark-blue-300);
   transition: all .2s;
}
.info{
   background-color: var(--light-blue-100);
}
.button-cryptography{
   background-color: var(--dark-blue-300);
   color: white;
   margin-right: 1.5rem;
}
.button-cryptography:hover{
   background-color: var(--dark-blue-400);
}
.button-decryption{
   background: var(--light-gray);
   color: var(--dark-blue-300);
}
.button-decryption:disabled{
   cursor: no-drop;
}
.button-decryption:hover{
   background-color: var(--light-blue-200);   
}
.text-cryption{
   width: 25rem;
   margin: 2.5rem;
   padding: 15rem 2rem;
   text-align: center;
   background-color: white;
   /* shadow */
   box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
   border-radius: 32px;
}
.text-cryption img{
   width: 21rem;
   height: 19rem;
}
.text-cryption div{
   display: flex;
   flex-direction: column;
   
   margin-top: 2rem;
   padding: 0px;
   gap: 16px;
}

textarea.textarea-output{
   font-size: 1.5rem;
   color: var(--gray-400);
   height: calc(100vh - 100px);
   padding: 1rem;
}
.text-cryption-whit-text{
   padding: 1rem;
}

.button-copy-cryption{
   background-color: white;
}
.button-copy-cryption:hover{
   background-color: var(--light-blue-200);
}
