body {
   display: grid;
   grid-template-rows: 1fr 3.45rem;
   background-color: var(--light-blue-100);
}

main {
   width: calc(100% - 2rem);
   height: calc(100% - 2rem);
   display: grid;
   grid-template-columns: 10% 3fr 3fr;
   padding: 2rem;
   margin: 0 auto;
}

header {
   width: 20%;
}

header img {
   width: 1.5rem;
}

.text-area-input {
   width: 100%;
   margin-top: 2rem;
}
textarea {
   width: 100%;
   background-color: transparent;
   border: none;
   font-size: 1.5rem;
   margin-bottom: 1rem;
   color: var(--dark-blue-300);
   line-height: 150%;
   padding: 1rem;
   resize: none;

}
.text-area-input textarea {
   height: calc(100vh - 15.625rem);
}

.text-area-input textarea::placeholder {
   color: var(--dark-blue-300);
}

textarea:focus {
   outline: none;
}

.crypto-controls {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.crypto-controls .crypto-notice {
   font-size: 0.8rem;
   color: var(--gray-400);
}

.crypto-controls .crypto-notice i {
   color: var(--gray-450);
}

.crypto-controls .danger {
   color: var(--red-500);
   animation: shake 0.1s;
   animation-iteration-count: 3;
}
.crypto-controls .danger i{
   color: var(--red-500);
   animation: shake 0.1s;
   animation-iteration-count: 3;
}

@keyframes shake {
   0% {
      margin-left: 0;
   }

   25% {
      margin-left: 5px;
   }

   50% {
      margin-left: 0;
   }

   75% {
      margin-left: -5px;
   }

   100% {
      margin-left: 0;
   }
}


.crypto-controls-group-button {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

button {
   padding: 0.8rem;
   width: 50%;
   border-radius: 1.5rem;
   cursor: pointer;
   background-color: transparent;
   color: var(--dark-blue-300);
   border: 1px solid var(--dark-blue-300);
   transition: all .5s;
}
button:hover {
   background-color: var(--light-gray);
}

.button-cryptography {
   background-color: var(--dark-blue-300);
   color: white;
}

.button-cryptography:hover {
   background-color: var(--dark-blue-400);
}

.text-area-output {
   margin: 0 auto;
   width: 60%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5rem 2rem;
   flex-direction: column;
   text-align: center;
   background-color: white;
   box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
   border-radius: 2rem;
}

.text-area-output img {
   width: 12rem;
}

.text-area-output h2 {
   font-size: 1.5rem;
   color: var(--gray-500);
}

.text-area-output p {
   font-size: 1rem;
   color: var(--gray-400);
}

.text-area-output textarea{
   height: calc(100%);
   color: var(--gray-400);
}
.text-area-output button{
   width: 100%;
}
.text-cryption-whit{
   padding: 1rem;
}


footer {
   display: flex;
   align-items: center;
   justify-content: center;
   font-stretch: expanded;
   /* position: absolute; */
   bottom: 0;
   width: 100%;
   padding: 1rem;
   gap: 1rem;
   background: var(--dark-blue-300);
   background: linear-gradient(117deg, rgba(10, 56, 113, 1) 0%, rgba(7, 43, 97, 1) 50%, rgba(5, 32, 81, 1) 100%);
   color: var(--light-blue-100);
}

footer p:after {
   content: '';
   position: absolute;
   width: 2px;
   height: 1.5rem;
   margin: -2px 0.5rem 0;
   background-color: var(--light-blue-100);
}

footer ul {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
}

ul li {
   list-style: none;
}

li a {
   text-decoration: none;
}

li a i {
   color: var(--light-blue-100);
   font-size: 1.5rem;
   transition: all 1s;
}

li a i:hover {
   color: var(--light-blue-500);
}