@media (max-width: 375px){
   body{
      grid-template-rows: 1fr 8rem;
   }
   main{
      width: 100%;
      padding: 1rem;
   }
   button{
      width: 100%;
   }
   .crypto-controls-group-button{
      flex-direction: column;
   }
   footer{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      font-size: 1rem;
   }
   footer ul{
      gap: 1rem;
      margin-top: 0.5rem;
   }
   footer p:after{
      content: '';
      display: flex;
      position: absolute;
      width: calc(100% - 3rem);
      height: 1px;
      margin: 0.5rem;
      background-color: var(--light-blue-100);
   }
}