@media (max-width: 768px) {
   main{
      grid-template-columns: 1fr;
      grid-template-rows: 1.716rem 1fr 7.5rem;
   }
   .text-area-input textarea{
      height: 15rem;
   }
   .text-area-output{
      padding: 1rem;
      width: 100%;
      height: 7.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
   }
   .text-area-output img{
      width: 0;
      height: 0;
      overflow: hidden;
   }
}