:root{
   --dark-blue-300: #0A3871;
}
header{
   width: 100%;
}
header img{
   width: 128px;
   height: 48px;
   margin: 40px;
}

textarea{
   
   
position: absolute;
width: 680px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */
/* Dark blue/dark-blue-300 */
color: #0A3871;
}

textarea::placeholder{
   color: var(dark-blue-300);
}