@media (max-width: 768px) {
   main{
      display: block;
   }
   .textarea-input{
      margin: 0 auto;
   }
   .info{
      display: flex;
      flex-direction: column;
   }
   .info span{
      margin-bottom: 1rem;
   }
   .info{
      margin: 0 auto;
   }
   .text-cryption{
      width: 43rem;
      height: 8.313rem;
      padding: 0;
      margin: 1.5rem auto;
   }
   .text-cryption img{
      display: none;
   }
}