@media (max-width: 768px) {
   main{
      display: block;
   }
   .info{
      margin-left: 1.5rem;
   }
   .text-cryption{
      width: 43rem;
   }
   .text-cryption img{
      display: none;
   }
}