@media (max-width: 768px) {
   main{
      display: block;
   }
   textarea{
      border: 2px solid saddlebrown;
   }
   .info{
      margin-left: 1.5rem;
   }
   .text-cryption{
      width: 43rem;
      height: 8.313rem;
      padding: 2rem;
   }
   .text-cryption img{
      display: none;
   }
}